<a href="https://colab.research.google.com/github/hokoro/python-basic/blob/main/python_basic5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = '3'
b = '4'
print(a+b) #34

34

In [2]:
print('Hi' * 3 ) #hihihi

HiHiHi

In [3]:
print('-' * 80)

--------------------------------------------------------------------------------

In [7]:
t1 = 'python'
t2 = 'java'

print((t1+' '+t2 + ' ') * 4)

python java python java python java python java

In [12]:
name1 = '김민수'
age1 = 10

name2 = '이철희'
age2 = 13

print('이름: %s 나이: %d'%(name1,age1))
print('이름: %s 나이: %d'%(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [13]:
print('이름: {} 나이: {}'.format(name1,age1))
print('이름: {} 나이: {}'.format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [14]:
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [15]:
string = "5,969,782,550"
print(int(string.replace(",",'')))

5969782550

In [16]:
divide = "2020/03(e)"

print(divide[:7])

2020/03

In [17]:
data = "  삼성전자  "

print(data.strip())

삼성전자