<a href="https://colab.research.google.com/github/hokoro/python-basic/blob/main/python_basic3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
samsung = 50000

print(samsung * 10)

500000

In [2]:
all_account = 298000000000000
The_present = 50000
per = 15.79

print(all_account , type(all_account))
print(The_present , type(The_present))
print(per , type(per))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [3]:
s = "hello"
t = "python"

print(s + "! " + t)

hello! python

In [4]:
print(2+2*3)

8

In [5]:
a = 128
print(type(a))

<class 'int'>

In [6]:
a = "132"

print(type(a))

<class 'str'>

In [7]:
num_str = "720"

print(int(num_str))

720

In [8]:
num = 100
print(str(num))

100

In [9]:
b = "15.79"
print(float(b))

15.79

In [10]:
year = "2020"
year = int(year)

print(year - 1 , year , year +1)

2019 2020 2021

In [11]:
won = 48584

price = won * 36

print(price)

1749024