<a href="https://colab.research.google.com/github/hokoro/python-basic/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####1.변수 name을 선언하고 키보드로부터 자신의 이름을 입력 받아 출력하는 프로그램을 작성하시오.

In [1]:
name = input('이름이 무엇입니까? : ')
print('저의 이름은 ' + name +' 입니다')

이름이 무엇입니까? : 천영성
저의 이름은천영성입니다

####2. 변수 age에 나이를 입력받아, 100살을 더한 후 출력하는 프로그램을 작성하시오.

In [3]:
age = int(input('당신의 나이는 몇살 입니까 ? : '))
print('나는 '+ str(age+100) + '살 입니다')

당신의 나이는 몇살 입니까 ? : 26
나는 126살 입니다

####3. 두 점(x1,y1) (x2,y2)의 값을 입력받아, 두 점의 거리를 계산하여 출력하시오.

In [8]:
import math
x1,y1 = map(int,input().split())
x2,y2 = map(int,input().split())

distance = ((x2-x1) **2 + (y2-y1) **2) ** 0.5 
print(distance)

1 1
2 2
1.4142135623730951

####4.임의 수 no1과 no2를 입력받아, no1이 no2보다 크면, 두수의 합을 no1이 no2보다 작으면 두수의 곱을 출력하는 프로그램을 작성하시오.

In [10]:
no1 = int(input())
no2 = int(input())

if no1 < no2:
  print(no1 * no2) 
elif no1 > no2 :
  print(no1 + no2)

1
3
3

####5. 아래 소스를 살펴보고 4행과 5행의 소스를 한행으로 표현하시오.

1. import random

2. no1 = random.randint(1,9)

3. no2 = random.randint(1,9)

4. print(“입력된 값”,no1, “과”, no2,“합은?”)

5. answer = int(input())

In [11]:
import random
no1 = random.randint(1,9)
no2 = random.randint(1,9)
answer = int(input('입력된 값 ' + str(no1) +  '과 ' + str(no2) + "  합은? " ))
if no1 + no2 == answer:
  print("정답")
else:
  print("오답")

입력된 값 4과 3  합은? 7

####6. range()를 사용하여 1부터 100까지 사이의 짝수를 출력하는 프로그램을 작성하시오.

In [12]:
for i in range(1,101):
  if i % 2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

####7. 두 수 no1, no2를 입력 받아 두수의 합을 계산하는 프로그램을 작성하시오. 단, 두 수를 인수로 넘겨 받아 합을 전달하는 함수 add 만들어 사용하시오.

In [13]:
def add(no1, no2):
  return no1 + no2 

no1 = int(input())
no2 = int(input())

print(add(no1 , no2))

5
5
10

####8. 다음 코드의 결과는?

a = 3.5

b = int(3.5)

print(a**((a//b)*2)) => 12.25

print(((a-b) * a) // b) => 0.0

b = (((a-b) * a) % b)

print(b) => 1.75

print((a * 4) % (b*4)) =>0.0

a = ‘3’

b = float(a)

print(b**int(a)) => 27.0

a = [0,1,2,3,4]

print(a[:3], a[:-3]) => [0,1,2] [0,1]

 

print(“%10s”%(“흐드러진 벚꽃”)) =>오른쪽 정렬

print(“{:10s}”.format(“흐드러진 벚꽃”)) => 왼쪽 정렬

print(“{:$^10s}”.format(“흐드러진 벚꽃”))

 

a = [0,1,2,3,4]

print(a[::-1])

 

no = [1,2,3,4]

print(no * 2)

 

def cal(a, b, c):

return b + a * c + b

 

print(cal(3,4,5) == 63)

 

a = 11

b = 9

 

print(‘a’+’b’)

In [18]:
a = 3.5

b = int(3.5)

print(a**((a//b)*2))

print(((a-b) * a) // b)

print(((a-b) * a)%b)

b = (((a-b) * a) % b)

print(a,b)

print((a*4) % (b*4))

a = '3'

b = float(a)

print(b ** int(a))

a = [0,1,2,3,4]

print(a[:3] , a[:-3])

print('%10s'%('흐드러진 벛꽃')) 
print('{:10s}'.format('흐드러진 벛꽃'))
print("{:$^10s}".format("흐드러진 벚꽃")) #가운데 정령  + 빈공간 $ 로채우기 

a = [0,1,2,3,4]
print(a[::-1])

no = [1,2,3,4]

print(no * 2)

def cal(a, b, c):

  return b + a * c + b

 

print(cal(3,4,5) == 63)

 

a = 11

b = 9

 

print('a'+ 'b')

12.25
0.0
1.75
3.5 1.75
0.0
27.0
[0, 1, 2] [0, 1]
   흐드러진 벛꽃
흐드러진 벛꽃
$흐드러진 벚꽃$$
[4, 3, 2, 1, 0]
[1, 2, 3, 4, 1, 2, 3, 4]
False
ab

In [20]:
a = 3.5

b = int(3.5)

print(a**((a//b)*2)) #12.25

print(((a-b) * a) // b) #0.0

b = (((a-b) * a) % b) 

print(b)

print((a * 4) % (b*4)) 
a = '3'

b = float(a)

print(b**int(a))

a = [0,1,2,3,4]

print(a[:3], a[:-3])

 

print('%10s'%('흐드러진 벚꽃')) 

print("{:10s}".format("흐드러진 벚꽃")) 

print("{:$^10s}".format("흐드러진 벚꽃"))

 

a = [0,1,2,3,4]

print(a[::-1])

 

no = [1,2,3,4]

print(no * 2)

 

def cal(a, b, c):

  return b + a * c + b

 

print(cal(3,4,5) == 63)

 

a = 11

b = 9

 

print('a'+ 'b')

12.25
0.0
0.5
1.75
0.0
27.0
[0, 1, 2] [0, 1]
   흐드러진 벚꽃
흐드러진 벚꽃
$흐드러진 벚꽃$$
[4, 3, 2, 1, 0]
[1, 2, 3, 4, 1, 2, 3, 4]
False
ab

In [21]:
print(a-b)

2